{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>Who Is?</h2>

 <main class="container">
  <div class="arrow" onclick="prevItem()">&#9665;</div>
    <div>

       <section class="informatie">
       {% if person.github_handle %}
          <img src="https://github.com/{{ person.github_handle }}.png">
        {% else %}
          <img src="Default Avatar {{ person.name }}">
        {% endif %}
        
  {% for person in persons %}
    <a href="{{ person.id }}">
      <article class="student">
        <h1>{{ person.name }}</h1>
        <p>Handle: {{ person.github_handle }}</p>
        <p>Birthdate: {{ person.birthdate | date: "%d-%m-%Y" }}</p>

      </article>
    </a>
</section>

    </div>
  <div class="arrow" onclick="nextItem()">&#9655;</div>
 </main>

{% render 'partials/foot.liquid', squads: squads %}